@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">Cadastro</h1>
    <p>Teste de acesso à Action Cadastro em Cadastro/Cadastro</p>
    <form action="/" method="post">
        <input type="text" placeholder="Digite o seu Nome" />


    </form>
</div>
