@{
    ViewData["Title"] = "Cadastro";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Classy Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- //css files -->

    <link href="~/css/style-form.css" rel="stylesheet" />
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//online-fonts -->
</head>
<body>
    <div class="w3-main">
        <!-- Main -->
        <div class="about-bottom main-agile book-form">
            <div class="alert-close"> </div>
            <h2 class="tittle">Cadastro</h2>
            <form action="#" method="post">
                <div class="form-date-w3-agileits">
                    <label> Nome </label>
                    <input type="text" name="name" placeholder="Nome" required="">
                    <label> E-mail </label>
                    <input type="text" name="email" placeholder="E-mail" required="">
                    <label> Telefone </label>
                    <input type="tel" name="telefone" placeholder="Telefone" required="">
                    <label> Endereço </label>
                    <input type="text" name="endereco" placeholder="Endereço" required="">
                    <label> Complemento </label>
                    <input type="text" name="complemento" placeholder="Complemento" required="">
                    <label> Bairro </label>
                    <input type="text" name="bairro" placeholder="Bairro" required="">
                    <label> Município </label>
                    <input type="text" name="municipio" placeholder="Município" required="">
                    <label> Estado </label>
                    <select class="single-select" name="UF">
                        <option selected value="">Selecione o estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
                <div class="make wow shake">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
        <!-- //Main -->
    </div>
</body>
<script src="~/js/jquery-2.1.4.min.js"></script>