
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
    overflow-x: hidden;
}

a {
    text-transform: uppercase;
    color: azure;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    align-items: center;
}

    a:hover {
        color: #c78c19;
        transition: 0.3s;
    }

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #23232e;
    height: 6vh;
}

.logo {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

main {
    background: url("../imagens/back2.jpg") no-repeat center center;
    background-size: cover;
    height: 88vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

    .nav-list li {
        letter-spacing: 3px;
        margin-left: 32px;
    }

.mobile-menu {
    display: none;
    cursor: pointer;
}

    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: azure;
        margin: 8px;
        transition: 0.3s;
    }

@media (max-width: 999px) {

    .nav-list {
        position: absolute;
        top: 6vh;
        bottom: 6vh;
        right: 0px;
        width: 50vw;
        height: 88vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-li {
        opacity: 0;
    }



    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

footer {
    position: relative;
    text-align: center;
    height: 6vh;
    background: #23232e;
}

.rodape {
    color: rgb(201, 202, 202);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    padding: 10px
}

/*Lista*/

table {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
}

td, th {
    padding: .7em;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #EEE;
}

.filtrar-tabela {
    margin-bottom: 10px;
    width: 200px;
    height: 35px;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

.fadeIn {
    opacity: 100;
    transition: 0.5s;
}

.invisivel {
    transition: 0.5s;
    display: none;
}

/*Formulário de cadastro*/
/*.titulo {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    text-align: center;
}
.formulario {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

form {
    margin: 40px 40px;
    font-family: 'Acme', sans-serif;
    padding: 15px;
}

form input, form legend, form select {
    display: block;
    justify-content: space-around;
    font-size: 16px;
    margin: 0 0 10px;
}*/