@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <h1 class="display-4">Contato</h1>
    <p>Teste de acesso à Action Contato em Basic/Contato</p>

    <link href="~/css/style-wp.css" rel="stylesheet" />
</div>
