@{
    ViewData["Title"] = "Reforço Acadêmico";
}

<div class="text-center">
    <h1 class="display-4">Página Inicial (Index)</h1>
    <p>Teste de acesso à Action Contato em Basic/Servico</p>
    <link href="~/css/style-wp.css" rel="stylesheet" />
</div>
