@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1 class="display-4">Sobre</h1>
    <p>Teste de acesso à Action Contato em Basic/Sobre</p>

    <link href="~/css/style-wp.css" rel="stylesheet" />
</div>
